/*### Bas de page Footer 3 elements ###*/

footer
{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color:#F2F2F2;
    color: black;
    line-height: 160%;
    font-size: 130%;
    height: 485px;
    padding-bottom:50px;
    padding-left:33px;
    padding-top:50px;
    
}

footer p
{
    font-size:1.17em ;
    font-weight: bold;
    line-height: 180%;
}
.bloc-footer a:visited
{
    color: black;
}
.bloc-footer a
{
    color: black;
    
}
footer a:hover
{
    text-shadow: 5px 5px 15px;
}